$border-button-color: #C0304F;

nav {
    background-color: #f6f2eb;
    .bag-number {
        height: 1.4rem;
        width: 1.4rem;
        background-color: $border-button-color;
        border-radius: 50%;
        top: -0.625rem;
        right: -1.25rem;
    }
    .navlogo-for-large {
        left: 38%;
        top: 12%;
    }

    .nav-hover-lines {
        display: none;
        height: 0.15rem;
        border-radius: 0.2rem;
        background-color: $border-button-color;
        bottom: 0.2rem;
    }

    .hover-long-line {
        width: 63%;
        left: 10%;
    }

    .hover-short-line {
        width: 15%;
        left: 80%;
    }

    .nav-item {
        transition: all 0.8s ease-out;

        a {
            color: black;
        }
    }

    .nav-item:hover {
        @media (min-width: 992px) {
            .nav-hover-lines {
                display: inline-block;
            }

        }
    }
}
