@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
$red-color: #C0304F;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin button-style($name, $color, $bg-color, $fs) {
    .#{$name} {
        color: $color;
        background-color: $bg-color;
        font-size: $fs;
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        border: none;
    }
}

@mixin heading-style($name, $color, $fs, $fw) {
    .#{$name} {
        color: $color;
        font-size: $fs;
        font-weight: $fw;
        border-left: 0.2rem solid $red-color;
        padding-left: 0.8rem;
    }
}

.all-pages-margin {
    >div {
        margin: 1rem 2rem;
    }
}

@media (min-width: 992px) {
    .all-pages-margin {
        >div {
            margin: 1rem 3rem;
        }
    }
}

@media (min-width: 1200px) {
    .all-pages-margin {
        >div {
            margin: 1rem 15rem;
        }
    }
}

// Hero section
.hero-section {
    background-color: #f6f2eb;
}

.hero-small-image {
    border-radius: 50% 50% 0 0;
}

.hero-crown-lady {
    border-radius: 50% 50% 0 0;

    img {
        transform: translateX(20%);
    }
}

.donate-image {
    margin-top: -2rem !important;
}

//call price section
.call-price-section {
    .church-woman-images>div:first-child {
        height: 30rem;

        >img {
            height: 100%;
        }
    }

    .church-woman-images>div:last-child {
        height: 28rem;

        >img {
            height: 100%;
        }
    }

    .call-price-button-section-people {
        img {
            margin-left: -1.5rem;
        }
    }

    .call-price-joinus-section {
        background-color: pink;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    @include heading-style("call-price-heading", black, 1.6rem, 800);
    @include button-style("call-price-joinus-button", white, black, 1.1rem);

    .building-bridges-of-faith {
        border-left: 0.1rem solid grey;
        padding-left: 1rem;
    }
}

@media (min-width: 992px) {
    .call-price-section {
        .church-woman-images>div:first-child {
            height: 30rem;
        }

        .church-woman-images>div:last-child {
            height: 28rem;
        }

        .call-price-joinus-section {
            padding: 2rem;
        }
    }
}

@media (min-width: 1200px) {
    .call-price-section {
        .side-grey-image {
            mix-blend-mode: darken;
            bottom: 3rem;
            left: 0;
            height: 28rem;
        }
    }
}

//faithful hearts section
.faithful-hearts-section {
    .faithful-hearts-image {
        >img {
            width: min(30rem, 100%);
        }
    }

    .double-qoute {
        color: $red-color;
    }

    @include heading-style("faithful-hearts-heading", black, 1.6rem, 800);
}

@media (min-width: 992px) {
    .faithful-hearts-section {
        .faithful-hearts-image {
            >img {
                width: 100%;
            }
        }
    }
}

@media (min-width: 1200px) {
    .faithful-hearts-section {
        .faithful-hearts-bird-image {
            right: 0;
            top: 0;
            width: 20rem;
        }
    }
}

//Unleash potential section
.unleash-potential-section {
    @include heading-style("unleash-potential-heading", black, 1.6rem, 800);
    @include button-style("unleash-readmore-button", white, black, 1.1rem);

    .unleash-readmore-button {
        max-width: 10rem;
    }
}


// Satisfaction saction
.satisfaction-section {
    @include heading-style("satisfaction-heading", black, 1.6rem, 800);

    .satisfaction-heading {
        margin-left: 1rem;
    }

    .satisfaction-cards {
        >div>div {
            .description {
                display: none;
            }

            .read-more-icon {
                display: inline-block;
                height: 1.5rem;
                width: 1.5rem;
                border: 1px solid grey;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }

            &:hover {
                background-color: pink;
                border-radius: 1.2rem 1.2rem 1.2rem 0;

                .description {
                    display: block;
                }

                .read-more-icon {
                    background-color: $red-color;
                    color: white;
                    border: none;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .satisfaction-section {
        .satisfaction-absolute-leaf {
            right: 0;
            top: 30%;
            width: 15rem;
        }
    }
}

// Growing Stronger Section
.growing-stronger-section {
    @include heading-style("growing-stronger-heading", black, 1.6rem, 800);
    @include button-style("growing-learn-more-button", white, black, 1.1rem);
}

@media (min-width: 576px) {
    .growing-stronger-hand-image {
        margin-top: 16rem;
    }
}

@media (min-width: 992px) {
    .growing-stronger-hand-image {
        margin-top: 18rem;
    }
}

@media (min-width: 1200px) {
    .growing-stronger-hand-image {
        margin-top: 20 rem;
    }

    .growing-section-absolute-image {
        left: 0;
        bottom: 1rem;
        width: 13rem;
    }
}


// Your members section
.your-members-section {
    margin-top: 5rem;
    @include heading-style("your-members-heading", black, 1.6rem, 800);

    .vertical-line {
        height: 3.5rem;
        width: 0.1rem;
        background-color: grey;
    }

    .your-member-share-icon-container {
        height: 3rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid grey;

        >img {
            height: 1.6rem;
            cursor: pointer;
        }
        >img:first-child {
            display: block;
        }
        >img:last-child {
            display: none;
        }
    }

    .your-members-social-icons {
        visibility: hidden;
    }

    .your-members-cards>div>div {
        transition: all 0.8s ease;

        &:hover {
            .your-member-share-icon-container {
                background-color: $red-color;
                border: none;
                >img:first-child {
                    display: none;
                }
                >img:last-child {
                    display: block;
                }
            }

            .your-members-social-icons {
                visibility: visible;
            }
        }
    }

    .your-members-all-teams-members {
        hr {
            color: grey;
            width: calc(50% - 115px);
        }

        @include button-style("all-team-members-button", white, black, 1.1rem);
    }
}

@media (min-width: 1200px) {
    .your-members-section {
        margin-top: 15rem;
        margin-bottom: 15rem;

        .absolute-crown-image {
            top: -12rem;
            width: 33rem;
            left: 50%;
            transform: translateX(-50%);
        }

        .absolute-flower-image {
            bottom: -14rem;
            width: 33rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

// See our All Events Section
.all-events-section {
    >div {
        .all-events-heading-content {
            margin: 1rem 2rem;
        }

        @include heading-style("all-events-heading", black, 1.6rem, 800);

        .all-events-left-right-buttons {
            div {
                height: 3rem;
                width: 3rem;
                border: 1px solid grey;
                border-radius: 50%;
                font-size: 1.5rem;

                &:hover {
                    border: none;
                    background-color: $red-color;
                    color: white;
                }
            }
        }

        .all-events-cards {
            margin-left: 2rem;
            display: flex;
            gap: 2rem;

            .event-card {
                border: 1px solid grey;
                border-radius: 0.7rem 0 0.7rem 0.7rem;
                width: 16rem;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            @include button-style('all-events-join-now-button', white, black, 1.1rem);

            .all-events-join-now-button {
                max-width: 10rem;
            }
        }

    }
}

@media (min-width: 576px) {
    .all-events-section {
        >div {
            .all-events-cards {
                margin-left: 2rem;
                display: flex;
                gap: 2rem;

                .event-card {
                    width: unset;
                    padding-right: 6rem;
                    height: 18rem;
                    border-radius: 0.7rem;
                }
            }
        }
    }
}

@media(min-width: 992px) {
    .all-events-section {
        >div {
            .all-events-heading-content {
                margin: 1rem 3rem;
            }

            .all-events-cards {
                margin-left: 3rem;
            }
        }
    }
}

@media(min-width: 1200px) {
    .all-events-section {
        >div {
            .all-events-heading-content {
                margin: 1rem 15rem;
            }

            .all-events-cards {
                margin-left: 15rem;
            }
        }
    }
}

// Latest article section
.articles-section {
    @include heading-style("articles-heading", black, 1.6rem, 800);

    .articles-cards {
        .article-card {
            width: calc(100% / 1);
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .article-feature {
        border-radius: 0.5rem;
        background-color: white;
        top: 50%;
        transform: translateY(-50%);
        height: 90%;
        width: 90%;

        h5 {
            font-size: 1rem;
        }

        h3 {
            font-size: 1.1rem;
        }

        p {
            font-size: 0.8rem;
        }
    }

    .article-subscribe {
        @include button-style('article-subscribe-button', white, black, 1.1rem);

        .article-subscribe-button {
            max-width: 10rem;
        }

        >div {
            border: 1.1px solid grey;
            border-radius: 0.6rem;
        }
    }

    .article-next-buttons-container {
        >div {
            height: 1.8rem;
            width: 1.8rem;
            border: 1px solid grey;
        }
    }
}

@media (min-width: 576px) {
    .articles-section {
        >div {
            .articles-cards {
                .article-card {
                    width: calc(100% / 2);
                }
            }

            .article-feature {
                height: 80%;
                width: 50%;
                left: 3rem;

                h5 {
                    font-size: 1.2rem;
                }

                h3 {
                    font-size: 1.4rem;
                }

                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .articles-section {
        >div {
            .articles-cards {
                .article-card {
                    width: calc(100% / 3);
                }
            }
        }
    }
}